.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  font-size: 2rem;
  font-weight: normal !important;
}

.ann-card {
  background-color: var(--fill-color);
  padding: 0.5em 1em;
  border: 4px var(--accent-color) solid;
  border-radius: 10px;
}

.ann-card > h4 {
  /* font-weight: normal !important; */
  font-size: 1.5rem;
}

.ann-card > p {
  /* font-weight: normal !important; */
  font-size: 1.25rem;
}

.recentsContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 0;
}

.button-type {
  font-size: 1.5rem;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  padding: 0.5rem;
  border-radius: 8px;
}

.groupName {
  font-size: 2rem;
  font-family: var(--accent-text-font);
  font-weight: 700;
}

.group-card {
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  background-color: var(--fill-color);
  border: 4px var(--accent-color) solid;
  border-radius: 10px;
  padding: 1em;
  display: flex;
}

.group-card > img {
  width: 145px;
}

.groupsContainer {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 1em;
}
